@using BlazorDataGridExample.Shared.Models;
@using Microsoft.Fast.Components.FluentUI.Utilities;

@inherits FluentComponentBase

<div class="filter-box">
    <div class="filter-operator">
        <label>test
            <FilterSelector Id="test" Class="filter-operator-select" FilterOperators="filterOperatorOptions" @bind-FilterOperator="filterOperator">
            </FilterSelector>
        </label>
    </div>
    <div class="filter-text">
        
        <FluentTextField Class="filter-text-field" @bind-Value="filterValue"></FluentTextField>
    </div>
    <div class="filter-action-reset">
        <FluentButton Class="filter-action-reset-button" Appearance="Appearance.Neutral">Reset</FluentButton>
    </div>
    <div class="filter-action-apply">
        <FluentButton Class="filter-action-apply-button" Appearance="Appearance.Accent">Apply</FluentButton>
    </div>
</div>
